<h1>{{ title }}</h1>
<form class="form" *ngIf="ProductToUpdate">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Name"
      name="name"
      [(ngModel)]="ProductToUpdate.name"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input
      type="number"
      min="1"
      matInput
      name="price"
      [(ngModel)]="ProductToUpdate.price"
    />
  </mat-form-field>

  <button
    mat-raised-button
    (click)="createProduct()"
    color="primary"
  >
    {{ txtButton }}
  </button>
  <button mat-raised-button>cancel</button>
</form>
